{#def
  site_config
#}

<BaseLayout :title="{{ site_config.site_name }}">
    <Navbar />
    <div class="flex min-h-screen">
        <LeftNav :nav="{{ site_config.nav }}" />
        <!-- Main content area -->
        <div class="flex-1 p-6">
            <main class="bg-white dark:bg-black text-black dark:text-white">
                {{ content }}
            </main>
        </div>
    </div>
</BaseLayout>