{# def
    nav: List[NavItem | NavGroup]
#}
<aside class="hidden md:flex md:min-w-64 flex-col border-r bg-white dark:bg-zinc-950 dark:border-zinc-800 py-4 pl-8">
    <nav class="py-4">
        {% for item in nav %}
            {% if item.type == "item" %}
                <NavItem :item="{{ item }}" />
            {% else %}
                <NavGroup :group="{{ item }}" />
            {% endif %}
        {% endfor %}
    </nav>
</aside>