{# def
    nav: List[NavItem | NavGroup],
    current_path: str = ""
#}
<aside class="hidden md:flex md:min-w-64 flex-col border-r bg-white dark:bg-zinc-950 dark:border-zinc-800 py-4 pl-8">
    <nav class="p-4">
        {% for item in nav %}
            {% if item.type == "item" %}
                <NavItem :item="{{ item }}" :current_path="{{ current_path }}"/>
            {% else %}
                <NavGroup :group="{{ item }}" :current_path="{{ current_path }}"/>
            {% endif %}
        {% endfor %}
    </nav>
</aside>